beautifulsoup4==4.13.4
certifi==2025.4.26
charset-normalizer==3.4.2
fuzzywuzzy==0.18.0
geopandas==1.0.1
idna==3.10
Levenshtein==0.27.1
numpy==2.2.6
packaging==25.0
pandas==2.2.3
pyogrio==0.11.0
pyproj==3.7.1
python-dateutil==2.9.0.post0
python-Levenshtein==0.27.1
pytz==2025.2
RapidFuzz==3.13.0
requests==2.32.3
shapely==2.1.1
six==1.17.0
soupsieve==2.7
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
